{% extends 'base.html' %} {% block body %}

<style>  
  body {  
      background-color: wheat;  
  }  
  h5 ,P{  

      color:linen ;  
        
  }  ,
   h4 {  

    color:black ;  
      
}   
  </style>

<div class="container-fluid  my-0 px-2" >
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators bg-black"  >
      <button
        type="button "
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
<!--video-->

<video width="1200" height="450" autoplay muted loop control>
  <source src="static/v1.mp4" type="video/mp4">

</video>






      <!--  <img
          src="static/img111.png"  width="00" height="400"
          class="d-block w-100"
          alt="ni aaya be"
        />-->
     <!--   <div class="carousel-caption d-d-none d-md-block">
          <h5>  SAR DIGITAL SOLUTIONS </h5>
           <P>Friendly Working environment is more than just we ensure at SAR</P>
        </div>-->
      </div>
      <div class="carousel-item">
        <img
          src="static/img22.png" width="1000" height="350"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Sar Digital Solutions</h5>
          <p>   Digitally Yours!!</p>
        </div>
      </div>
      <div class="carousel-item">
       
       
       
       
       
       
       
        <<img
          src="static/img3.png" width="1000" height="350"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h4>Sar Digital Solutions</h4>
          <p>Our passion is your success!!</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!--thumnbnail section -->

<div class="container  my-3">
  <h2 "class=my-1  px-5 "> Projects we are working on!!! </h2>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
      <!--1... --> <img
        src="static/img9.jpeg" width="1000" height="225"
        class="d-block w-100"
        alt="..."
      />

        <div class="card-body bg-black">
          <p class="card-text "> She Butterfly Pads</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <!--2....-->
         <img
         src="static/google-sites.png" width="1000" height="225"
         class="d-block w-100"
         alt="..."
       />



        <div class="card-body bg-black">
          <p class="card-text">GOOGLE SITES </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm bg-black">
       <!--3..-->
       <img
       src="static/Google-Ads-for-business.png" width="1000" height="225"
       class="d-block w-100"
       alt="..."
     />
        <div class="card-body">
          <p class="card-text">GOOGLE ADS </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
       <!--4...-->
       <img
       src="static/img11.png" width="1000" height="225"
       class="d-block w-100"
       alt="..."
     />

        <div class="card-body bg-black">
          <p class="card-text">start Ups</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <!--5..-->
        <img
         src="static/img4.png" width="1000" height="225"
         class="d-block w-100"
         alt="..."
       />

        <div class="card-body bg-black">
          <p class="card-text">Nourishing Ideas</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card shadow-sm">
        <!--6-->
        <img
        src="static/img5.png" width="1000" height="225"
        class="d-block w-100"
        alt="..."
      />


        <div class="card-body bg-black">
          <p class="card-text">CONTENT CREATORS</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <!--7-->
        <img
        src="static/img6.png" width="1000" height="225"
        class="d-block w-100"
        alt="..."
      />

        <div class="card-body bg-black">
          <p class="card-text">SAR DIGITAL SOLUTIONS</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <!--8-->
        <img
        src="static/img7.png" width="1000" height="225"
        class="d-block w-100"
        alt="..."
      />
        

        <div class="card-body bg-black">
          <p class="card-text">SAR DIGITAL SOLUTIONS</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm bg-black">
      <!--9-->
      <img
      src="static/img8.png" width="1000" height="225"
      class="d-block w-100"
      alt="..."
    />
        <div class="card-body bg-black">
          <p class="card-text">SAR DIGITAL SOLUTIONS</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock body %} {% block title %}home {% endblock title %}
