{% extends 'base.html' %}

{% block body %}

<style>  
    body {  
        background-color: linen;  
    }   
    </style>










<div class="container my-4">
    <div class="card" style="width: 19rem;">
        <img src="static/img9.jpeg"  height=275px class="card-img-top" alt="...">
        <div class="card-body  bg-light">
          <h5 class="card-title ">Go To She Butterfly </h5>
          <p class="card-text">Get amazing discounts on she butterfly jumbo packs via this link
              SO WHAT ARE YOU WAITING FOR!!
          </p>
          <a href="#" class="btn btn-primary stretched-link">order</a>
        </div>
      </div>
</div>

{% endblock body %}





{% block title %}LINK  {% endblock title %}