{% extends 'base.html' %} {% block body %} 

<style>
    body {  
        background-color: wheat;  
    }  
    

div.c {

    right: 250px;

}

    
    div.m {
      position: absolute;
     top: 290px;
    left: 450px;

    }
 




</style>




<div class="c  mx-4"><img src="static/mail1.png" alt="email" width="1225" height="600"></div>

<div class="m">
    <p style="color:white;"><h3>Mail us At: 
        <br> mmayank591@gmail.com</h3></p> 
</div>






{% endblock body %}









{% block title %}  {% endblock title %}